@import "./milk.min.css";
@import "./milk-responsive.min.css";
@import "./footer.css";
@import "./photo-category.css";
@import "./pygments.css";

@keyframes fade-in {
  0% { opacity: 0}
  100% { opacity: 1}
}

body {
  font-size: 16px;
  margin-bottom: 10px;
  padding: 0;
  color: #0f172a;
  opacity: 0;
  animation: fade-in .3s ease-in forwards;
}

body.ab-dark {
  color: #f1f5f9;
}

body.ab-light {
  color: #0f172a;
}

.ab-dark .navbar a {
  color: #f1f5f9;
}

.ab-transition {
  transition: background-color 2s ease,
              color 2s ease;
}


/* Custom container */

.container {
  margin: 0 auto;
  max-width: 960px;
  margin-bottom: 30px;
}

.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  text-align: left;
}

.container-narrow > hr {
  margin: 30px 0;
}

form { margin: 0; }

figure.full img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

figure.medium
{
    width:400px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}

figure.large
{
    width:500px;
    margin-top:30px;
    margin-bottom:30px;
    margin-left: auto;
    margin-right: auto;
}

figure.large img {
    width:500px;
    height: auto;
}

figcaption
{
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #EFEFEF;
    font-size: 90%;
    margin-left: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    display: block;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #fa5305;
  font-family: Philosopher;
  font-size: 18px;
}

h1,h2,h3,h4 {
  font-family: Philosopher, serif;
  text-align: center;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.2em; }

#logo {
  margin: auto 0;
  text-align: center;
}

#logo a {
  border: none;
}



/* Bug in milk.responsive.css */
@media (max-width: 979px) {
  .navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
  }
}

@media (max-width: 979px) {
  .navbar-fixed-top {
    top: 0;
  }
}

.navbar a {
  color: #0f172a;
}

.navbar .nav {
  float: right;
}

.navbar {
  background: inherit;
}

#navbar-inner {
  min-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  max-width: 980px;
}

.socials {
  position: fixed;
  top: 8%;
  left: calc(50% + 370px);
}

.post-grid {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(250px, auto));
}

.menu-container {
  border-bottom: 1px solid #989898;
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 5px 20px;
}

.menu-container > * {
  flex: 1 1 0%;
}

.menu-container img {
  max-height: 50px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  .menu-item-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: 20px;
  }

  .menu-item-4 {
    grid-column-start: 4;
    grid-column-end: 6;
  }
}

.row-fluid .span12 ul .posts {
  margin: 0 0 10px 0;
}

.posts {
  text-align: center;
}

.posts li {
  line-height: 90%;
  list-style: none;
}
.posts li p {
  margin-bottom: 25px;
}

.post:first-child { margin-top: 2.5rem; }

.post {
  margin: auto;
  margin-top: 1.5rem;
  border-bottom: 1px solid #d5d5d5;
  max-width: 700px;
  padding-bottom: 1rem;
}

.post h2 {
  font-size: 25px;
  line-height: 50px;
  margin: 25px 0;
}

p {
  line-height: 25px;
  margin: 0 0 20px;
}

article p:last-child {
    margin: 0 auto;
}

.content img {
  margin: auto;
  display: block;
}

.content img.headline-image {
    max-height: 260px;
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.content {
  text-align: left;
  font-family: "Liberation Serif", "Palatino Linotype", Georgia, serif;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 5px;
  margin-right: 5px;
}

.content li {
  line-height: 150%;
  list-style: square;
}

.content ol {
  margin-bottom: 25px;
}

.content h1 {
  margin-bottom: 40px;
}

.post-header {
  padding: 0 20px 20px 20px;
  text-align: center;
}

.post-header h1 {
  color: #444;
  font-family: Philosopher;
  margin-bottom: 10px;
}

.post-header a {
    font-size: 1em;
    color: #444;
}

.post-header a:hover {
  text-decoration: none;
  border:none;
}

.post-time {
  margin-top: 1.3em;
  font-family: Philosopher;
}

.post-after ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.post-after ul li {
  float: left;
  margin-right: 20px;
}

.post-after ul li a {
  display: block;
}

.tags a {
  color: #505050;
  margin-right: 12px;
  font-size: 0.6em;
  padding: 5px 8px 2px 8px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 300ms background ease;
  display: inline-block;
  margin-bottom: 8px;
  border-bottom: 3px solid #fa5305;
  font-family: 'Liberation Sans', Helvetica, 'Helvetica Neue', sans-serif;
}

.tags a:hover {
  color: #fff;
  background-color: #fa5305;
  border-bottom: 3px solid #fa5305;
  text-decoration: none;
}

.one-post a, p a {
  border-bottom: 1px solid #fa5305;
  color: #505050;
  padding-bottom: 2px;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  border-bottom: 3px solid #fa5305;
  color: #953b22
}

.tag-list {
  font-family: Philosopher;
  max-width: 700px;
  margin: auto;
}

.tag-list h1 {
  max-width: 300px;
  margin: auto;
  padding-bottom: 2em;
}

.one-post {
  padding-bottom: 30px;
}

#pagination {
  margin-top: 1.5em;
}

#pagination a {
  margin-top: 20px;
  padding: 7px 20px 3px 20px;
  width: 115px;
  color: #646464;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Liberation Sans', Helvetica, sans-serif;
  border-bottom: 4px solid #646464;
}

#pagination a:hover {
  color: #fff;
  background-color: #646464;
  border-bottom: 4px solid #646464;
  text-decoration: none;
}

:not(pre) > code {
  font: inherit;
  font-style: italic;
  color: #000;
}

pre code {
  display: block;
  font-size: 14px;
}

.code {
  font-family: 'Liberation Mono', Monaco, Consolas;
  display: block;
}

code, pre {
    font-family: 'Liberation Mono', Monaco, Consolas;
    font-size: 14px;
    color: #2f1e2e
}

:not(pre) > code::after {
  content: "」";
  padding-left: 3px;
  margin-right: -10px;
  position: relative;
  bottom: -4px;
}

:not(pre) > code::before {
  content: "「";
  padding-right: 5px;
  margin-left: -10px;
  position: relative;
  top: -3px;
}

/* Includes */
.blurb {
    border: 2px solid #bf3f03;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9dad4;
    color: #542118;
    font-family: arial;
}

.highlight pre {
    border-radius: 15px;
    border: 1px solid #333;
    border-left: 4px solid #fa5305;
    background: #272822;
    color: #f8f8f2;
    padding-left: 20px;
}

#twitter-widget-0 {
  transform: scale(1.25);
  padding-left: 8px;
  padding-bottom: 3px;
}
