<div class="blurb content">
  <p>
    Thanks for reading! If you need anyone to solve technical problems or build
    web applications in Django,
    <a href="mailto:jonathan@argpar.se?subject=Solving my technical problems">send me an email</a> and let's talk.
  </p>

  <p>
    If you're interested in getting the latest blog posts directly to your inbox
    you can subscribe below.
  </p>

  <!-- Begin Mailchimp Signup Form -->
  <style type="text/css">
    .email-signup, #mc_embed_signup {
      /*clear: left;*/
      font: 14px Helvetica, Arial, sans-serif;
      text-align: center;
    }

    input::placeholder{
        text-align: center;
        color: #542118;
    }

    input[type="submit"], button[type="submit"] {
        height: 30px;
        position: relative;
        top: -5px;
        background-color: #ffe2e1;
        box-shadow: 3px 3px 5px -1px rgba(0,0,0,0.3);
    }

    button, input {
        border: 1px solid #7a1313 !important;
        border-radius: 5px;
    }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <div class="email-signup">
    <form
    action="https://buttondown.com/api/emails/embed-subscribe/argparse"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://newsletter.argpar.se', 'popupwindow')"
    class="embeddable-buttondown-form"
  >
      <input type="email" id="bd-email" name="email" placeholder="your@email.here" class="email-input">
      <input type="hidden" name="tag" value="blog" />
      <input type="hidden" name="metadata__page" value="blog">
      <button type="submit" class="signup-btn">
        Keep me posted
      </button>
    </form>

  </div>
</div>
