<div style="margin-top: 2rem;">
<div style="margin-bottom: 1rem;">Did you find this article helpful?</div>
<iframe src="https://github.com/sponsors/jonathan-s/button" title="Sponsor jonathan-s" height="35" width="116" style="border: 0; border-radius: 10px;"></iframe>
<a
  href="https://twitter.com/share?ref_src=twsrc%5Etfw"
  class="twitter-share-button" data-size="large"
  data-text="Check this out" data-via="argparse"
  data-dnt="true"
  data-url="{{ SITEURL }}/{{ article.url }}/"
  data-show-count="false"
  style="transform: scale(1.5);"
>Tweet</a>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
