<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    {% include 'includes/meta.html' %}
    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link href="/static/css/main.css" rel="stylesheet" type="text/css" media="all">
      <link href="/static/css/fonts.css" rel="stylesheet" type="text/css" media="all">

      <link rel="shortcut icon" href="/static/images/alexfinn.ico">
      <link rel="apple-touch-icon" href="">

      {% if FEED_ALL_ATOM %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
      {% endif %}

      {% if FEED_ALL_RSS %}
      <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
      {% endif %}

      {% block script %}{% endblock %}
      <script>0</script>
    </head>

    <body class="{% block body_class %}{% endblock %}">
      {% include 'includes/menu.html' %}
      <div class="container {% block container_class %}{% endblock %}">
        <div class="content">
          <div class="posts">
            {% block content %}
            {% endblock %}
          </div>
          {% if category != "photography" %}
          <div class="socials">

          </div>
          {% endif %}
        </div>
      </div>
      {% include 'includes/footer.html' %}
      {% include 'includes/analytics.html' %}
    </body>
</html>
